{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Command"
        ]
    },
    "logs": {
        "text": "qa\/infection.log"
    },
    "mutators": {
        "@default": true
    }
}